* {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
}
div {
  padding: 0 30px;
}

.header-flex {
  display: flex;
  height: 60px;
  align-items: center;

}
.logo {
  width: 120px;
  height: 30px;
}
.header-flex nav {
  width: 100%;
  margin-left: auto;
}
.header-flex ul {
  display: flex;
  list-style:none;
  text-decoration:none;
  color: gray;

}
.header-flex ul li {
  margin-left: 10px;
  width: 60px;
  height: 15px;
  font-size: 10px;
  text-align: right;
}
.relative {
  position: relative;
}
.relative_img {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}
.absolute {
  position: absolute;
}
.absolute_1 {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 50px;
  color: rgb(197, 59, 117)
}
h2 {
  font-family: 'Indie Flower', cursive;

}
.absolute_2 {
  position: absolute;
  top: 60%;
  left: 15%;
  font-size: 30px;
  color: rgb(197, 59, 117);
}
span {
  color:rgb(48, 187, 197);
}
.absolute_3 {
  position: absolute;
  top: 70%;
  left: 20%;
  color: gray;
}
.news_1 {
  text-align: center;
  margin-top: 50px;
}
#title {
  color: rgb(197, 59, 117);
  font-size: 10px;
  display: block;

}
dl{
  width: 500px;
  text-align: center;
  color:gray;
  font-size: 10px;
  border-bottom:1px solid #ccc;
  margin: 10px auto;
  position: relative;
  border-top: 1px solid #ccc;


}
dt{
  float: left;
  width: 60px;
  clear: left;
  vertical-align: middle;
}
dd{
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}
.news {
  background-color:rgb(197, 59, 117);
  border-radius: 30px;
  color: #fff;
  margin: 0 100px;
  padding: 2px;
  text-decoration: none;

}