* {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
}


.header-flex {
  display: flex;
  height: 60px;

}
.logo {
  width: 120px;
  height: 30px;

}

.header-nav-list {
  justify-content: flex-end;
  
}
.header-flex ul {
  display: flex;
  list-style:none;
  color: gray;
  
}
.header-flex ul li {
  margin-left: 10px;
  width: 60px;
  height: 15px;
  font-size: 10px;
}
a {
  text-decoration:none;
}

.relative {
  position: relative;
  width: 100%;
}
.relative_img {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}
.absolute {
  position: absolute;
}
.absolute_1 {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 50px;
  color: rgb(197, 59, 117)
}
h2 {
  font-family: 'Indie Flower', cursive;

}
.absolute_2 {
  position: absolute;
  top: 60%;
  left: 15%;
  font-size: 30px;
  color: rgb(197, 59, 117);
}
span {
  color:rgb(48, 187, 197);
}
.absolute_3 {
  position: absolute;
  top: 70%;
  left: 20%;
  color: gray;
}
.news_1 {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: left;


}
.news {
  color:rgb(197, 59, 117);
}
.news_3 {
  color: gray;
  margin: 10px 0 20px 0;
}

.news_list {
  width: 500px;
  font-size: 10px;
  border-top: 1px solid #000;
  
}
.news_item {
  display: flex;
  border-bottom: 1px solid #000;
  color: gray;
  
}
.news_2{
  background-color: rgb(197,59,117);
  border-radius: 30px;
  color: #fff;
  padding: 2px 5px;
  width: 100px;
  margin: 10px 20px;

  
}

.about_1 {
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  color: gray;

}
.about {
  color: rgb(197, 59, 117);
  font-size: 10px;
  display: block;
  text-align: center;
  margin: 20px 0 10px 0;
}
.about_2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.about_item{
  
  display: flex;
  width: 70%;
   justify-content: center;

}
.about_text {
  width: 40%;
  margin: 0 100px 0 0;
  
}
.about_img {
  width: 40%;
  display: flex;
  margin: 10px 0 50px 100px;

}
.service_1 {
  width: 60%;
  display: flex;
  flex-direction: column;

}
.service {
  color:rgb(197, 59, 117);
  font-size: 10px;
  text-align: left;

}
.service_2 {
  text-align: left;
} 
.box_service{
  width: 30%;
  display: flex;

}

.box1{
  color: white;
  background-color: rgb(197,59,117);
  width: 50%;
  height: 100%;
}
.service_img{
  display: block;
  width: 40%;
}
.box2{
  background-color: rgb(150, 67, 118);
  color: #e9eaea;
  width: 50%;
  height: 25%;
}
.box3{
  background-color: rgb(161, 118, 131);
  color: #e9eaea;
  width: 50%;
  height: 25%;
}
.blog_1 {
  width: 100%;
  background-color: #ebebeb;

}
.blog {
  color:rgb(197,59,117);
  font-size: 10px;
  text-align: left;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;

}
.content-img {
  display: block;
  border: 1px solid #e9eaea;
  border-radius: 20px;
  
}
.blog_img{
  display: block;
}

.card {
  width: 20%;
  border: 1px solid #e9eaea;
  border-radius: 20px;
  overflow: hidden; 
  
}

.text-box {
  background-color: white;
  font-size: 10px;
  
}
.tag {
  display: flex;
  font-size: 10px;
}
.title{
  padding: 20px 10px;
  margin: 0 auto;
  
}
.date {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}